a {
    color: grey;
    text-decoration: none; 
    border-bottom: 1px solid;
}

h1, h2, h3, h4 {
    margin: auto;
    font-weight: 150;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-weight: 550;
}

p {
    margin: auto;
}

.project-link {
    font-size: 14px;
}