$tablet-breakpoint: 1080px;

// Light theme
$white: #fff;
$off-white: #f0f3f7;
$pink: #ea86ae;
$blue: #68b0f1;
$green: #5fc383;

// Dark theme
$light-black: #11131f;
$dark-black: #202020;
$smoke: #A9A9A9;

// Tag styling
body {
    font-family: 'Nunito', sans-serif;
    background-color: $off-white;
    color: black;
}

body.dark {
    background-color: $light-black;
    color: white;
}

header {
    text-align: center;
}

footer {
    margin-top: 1vh;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: square;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
// End tag styling

// Custom element styling
.dark-theme-button {
    display: flex;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $pink;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 52px;
    justify-content: center;
    align-items: center;

    img {
        filter: invert(1);
    }
}

.dark-theme-button:hover {
    opacity: 1;
}

.profile {
    .image {
        max-height: 100px;
        max-width: 100px;
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        max-width: 100vw;
        font-size: 20px;
    }

    .about-me {
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    border-top: 2px solid $pink;
    background-color: $white;
    margin-top: 2vh;
    padding: 3%;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    transition: transform .2s;

    .image {
        display: block;
        margin: auto;
        margin-top: 1vh;
        max-height: 50vw;
    }

    .demo-link {
        font-size: 16px;
        font-weight: 600;
        color: $green;
    }

    .repo-link {
        font-size: 16px;
        font-weight: 600;
        color: $blue;
    }

    .demo-link + .repo-link {
        margin-left: 0.5vw;
    }

    .tag {
        font-weight: 400;
        padding: 5px 15px;
        border-radius: 3px;
        vertical-align: text-top;
        display: inline-block;
        white-space: nowrap;
        background-color: $pink;
        color: $white;
    }
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 8px 10px 0 hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
}

.card.dark {
    background-color: $dark-black;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .content {
        @extend .card;
        margin: auto;
        width: 50%;
        height: 60%;

        .image {
            max-height: 350px !important;
        }
    }

    .content:hover {
        transform: none;
        cursor: auto;
    }

    .close {
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        cursor: pointer;
    }
}
 
@media (min-width: $tablet-breakpoint) {
    .container {
        margin: auto;
        max-width: 85%;
    }

    .single-column {
        .card {
            display: grid;
            grid-auto-flow: column;
            height: 175px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 9fr;
            padding: 1%;
        }

        .image-container {
            grid-row-start: 1;
            grid-row-end: 4;
            height: 100%;
        }
    
        .image {
            position: relative;
            top: 10%;
            height: 100%;
            max-height: 55%;
            margin: auto;
            margin-top: 2vh;
        }

        .description {
            grid-row-start: 1;
            grid-column-start: 2;
            height: 100%;
        }

        .dotpoints {
            grid-row-start: 2;
            grid-column-start: 2;
            height: 100%; 
        }

        .tags {
            grid-row-start: 3;
            grid-column-start: 2;
            height: 100%; 
        }
    }

    // Change to two column layout on larger displays
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1%;
        row-gap: 1%;
        grid-row: auto;

        .card {
            align-items: center;
            height: 475px;
            grid-row: auto;
            margin-top: 0.25vh;
    
            .image {
                display: block;
                margin: auto;
                margin-top: 2vh;
                max-width: 100%;
                height: 250px;
            }
        }    
    }
}
// End custom element styling

// Font styling
a {
    color: grey;
    text-decoration: none; 
    border-bottom: dotted 2px;
}

a:hover {
    text-decoration: none; 
    border-bottom: solid 2px;
}

a.dark {
    color: $smoke;
}

h1, h2, h3, h4 {
    margin: auto;
    font-weight: 150;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
}

p {
    margin: auto;
    font-size: 15px;
}
// End font styling