body {
  font-family: 'Nunito', sans-serif;
  background-color: #F6F8FA;
  color: black;
}

body.dark {
  background-color: #1D2029;
  color: #F6F8FA;
}

header {
  text-align: center;
}

footer {
  margin-top: 2vh;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 12px;
}

footer p a {
  color: #007bff;
  border: none;
}

footer p a:hover {
  border-bottom: solid 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
}

hr {
  border: 0;
  height: 0;
  margin: 0;
}

.dark-theme-button.dark img {
  filter: invert(1);
}

.dark-theme-button:hover {
  opacity: 1;
}

.profile .image {
  max-height: 100px;
  max-width: 100px;
}

.profile .links-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile .links-container .link-container {
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile .links-container .link-container img {
  height: 20px;
}

@media (max-width: 400px) {
  .profile #dark-theme-button {
    display: none;
  }
}

.profile .about-me {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}

.profile .about-me a {
  color: #007bff;
  border: none;
}

.profile .about-me a:hover {
  border-bottom: solid 1px;
}

.profile.dark .links-container .link-container img {
  filter: invert(100);
}

.card {
  background-color: #fff;
  margin-top: 2vh;
  padding: 3%;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-top: 2px solid #ea86ae;
  transition: transform .2s;
  position: relative;
}

.card .image {
  display: block;
  margin: auto;
  margin-top: 1vh;
  max-height: 50vw;
}

.card .demo-link {
  font-size: 18px;
  font-weight: 600;
  color: #5fc383;
}

.card .repo-link {
  font-size: 18px;
  font-weight: 600;
  color: #68b0f1;
}

.card .demo-link + .repo-link {
  margin-left: 0.5vw;
}

.card .tag {
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  vertical-align: text-top;
  display: inline-block;
  white-space: nowrap;
  background-color: #ea86ae;
  color: #fff;
  cursor: pointer;
}

.card .tag a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px 15px;
  color: white;
  border: none;
}

.card .tag:hover {
  background-color: #d5256c;
  transition: background-color 0.5s ease-out;
}

.card.dark {
  border-top: 2px solid red;
  background-color: #252b43;
  color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.card.dark .tag {
  background-color: red;
}

.card.dark .tag:hover {
  background-color: #a01300;
  transition: background-color 0.5s ease-out;
}

.card.dark .repo-link {
  color: #00ebeb;
}

.card.dark .demo-link {
  color: #3ff61d;
}

#extracurriculars {
  margin-top: 2vh;
}

@media (min-width: 1000px) {
  .container {
    margin: auto;
    min-width: 980px;
    max-width: 1000px;
  }
  #extracurriculars {
    margin-top: 3.25vh;
  }
  .single-column .card {
    display: grid;
    grid-auto-flow: column;
    height: 210px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 6fr;
    padding: 1.25%;
    padding-bottom: 3%;
    margin-top: 0;
  }
  .single-column .image-container {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
  }
  .single-column .image {
    position: relative;
    top: 10%;
    height: 100%;
    max-height: 60%;
    margin: auto;
    margin-top: 2vh;
  }
  .single-column .description {
    grid-row-start: 1;
    grid-column-start: 2;
    height: 100%;
  }
  .single-column .dotpoints {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 100%;
  }
  .single-column .dotpoints ul {
    padding-left: 2%;
    padding-right: 2%;
  }
  .single-column .tags {
    grid-row-start: 3;
    grid-column-start: 2;
    height: 100%;
    font-size: 16px;
  }
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    row-gap: 1%;
    grid-row: auto;
  }
  .two-column .card {
    align-items: center;
    height: auto;
    padding-bottom: 6vh;
    grid-row: auto;
    margin-top: 0.25vh;
    position: relative;
  }
  .two-column .card .image {
    display: block;
    margin: auto;
    margin-top: 2vh;
    max-width: 100%;
    max-height: 325px;
  }
  .two-column .card .tags {
    position: absolute;
    bottom: 2.5vh;
    font-size: 16px;
  }
  hr {
    height: 5px;
  }
}

a {
  color: black;
  text-decoration: none;
  border-bottom: dashed 1px;
}

a:hover {
  text-decoration: none;
  border-bottom: solid 1px;
}

a.dark {
  color: white;
}

p a {
  color: black;
  border-bottom: dashed 1px;
}

p a.dark {
  color: white;
}

h1 {
  font-family: Lato, arial, verdana, helvetica, sans-serif;
}

h1, h2, h3, h4 {
  margin: auto;
  font-weight: 150;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
}

p {
  margin: auto;
  font-size: 18px;
}

li {
  font-size: 16px;
}
