body {
  font-family: "Nunito", sans-serif;
  background-color: #f0f3f7;
  color: black;
}
body.dark {
  background-color: #11131f;
  color: white;
}
header {
  text-align: center;
}
footer {
  margin-top: 2vh;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 12px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul {
  list-style-type: square;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 14px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-theme-button {
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-bottom: dotted 1.5px;
}
.dark-theme-button img {
  height: 20px;
}
.dark-theme-button.dark img {
  filter: invert(1);
}
.dark-theme-button:hover {
  opacity: 1;
}
.profile .image {
  max-height: 100px;
  max-width: 100px;
}
.profile .links-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 20px;
}
.profile .about-me {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
.card,
.modal .content {
  border-top: 2px solid #ea86ae;
  background-color: #fff;
  margin-top: 2vh;
  padding: 3%;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  position: relative;
}
.card .image,
.modal .content .image {
  display: block;
  margin: auto;
  margin-top: 1vh;
  max-height: 50vw;
}
.card .demo-link,
.modal .content .demo-link {
  font-size: 16px;
  font-weight: 600;
  color: #5fc383;
}
.card .repo-link,
.modal .content .repo-link {
  font-size: 16px;
  font-weight: 600;
  color: #68b0f1;
}
.card .demo-link + .repo-link,
.modal .content .demo-link + .repo-link {
  margin-left: 0.5vw;
}
.card .tag,
.modal .content .tag {
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 3px;
  vertical-align: text-top;
  display: inline-block;
  white-space: nowrap;
  background-color: #ea86ae;
  color: #fff;
}
.card.dark,
.modal .dark.content {
  border-top: 2px solid red;
  background-color: #202020;
  color: white;
}
.card.dark .tag,
.modal .dark.content .tag {
  background-color: red;
}
.card.dark .repo-link,
.modal .dark.content .repo-link {
  color: #00ffff;
}
.card.dark .demo-link,
.modal .dark.content .demo-link {
  color: #39ff14;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .content {
  margin: auto;
  width: 60%;
  max-height: 75vh;
  overflow-y: scroll;
}
.modal .content .image {
  max-height: 350px !important;
}
.modal .content:hover {
  transform: none;
  cursor: auto;
}
.modal .tags {
  display: none;
}
.modal ul {
  display: none;
}
.modal p {
  text-align: center;
}
.modal .close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover,
.modal .close:focus {
  cursor: pointer;
}
@media (min-width: 1080px) {
  .container {
    margin: auto;
    max-width: 85%;
  }
  .card:hover,
  .modal .content:hover {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  .single-column .card,
  .single-column .modal .content,
  .modal .single-column .content {
    display: grid;
    grid-auto-flow: column;
    height: 175px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 9fr;
    padding: 1%;
  }
  .single-column .image-container {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
  }
  .single-column .image {
    position: relative;
    top: 10%;
    height: 100%;
    max-height: 55%;
    margin: auto;
    margin-top: 2vh;
  }
  .single-column .description {
    grid-row-start: 1;
    grid-column-start: 2;
    height: 100%;
  }
  .single-column .dotpoints {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 100%;
  }
  .single-column .tags {
    grid-row-start: 3;
    grid-column-start: 2;
    height: 100%;
  }
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
    row-gap: 1%;
    grid-row: auto;
  }
  .two-column .card,
  .two-column .modal .content,
  .modal .two-column .content {
    align-items: center;
    height: 475px;
    grid-row: auto;
    margin-top: 0.25vh;
    position: relative;
  }
  .two-column .card .image,
  .two-column .modal .content .image,
  .modal .two-column .content .image {
    display: block;
    margin: auto;
    margin-top: 2vh;
    max-width: 100%;
    height: 250px;
  }
  .two-column .card .tags,
  .two-column .modal .content .tags,
  .modal .two-column .content .tags {
    position: absolute;
    bottom: 3vh;
  }
}
a {
  color: black;
  text-decoration: none;
  border-bottom: dotted 1.5px;
}
a:hover {
  text-decoration: none;
  border-bottom: solid 1.5px;
}
a.dark {
  color: white;
}
p a {
  color: black;
  border-bottom: dotted 1.5px;
}
p a.dark {
  color: white;
}
h1,
h2,
h3,
h4 {
  margin: auto;
  font-weight: 150;
}
h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
}
p {
  margin: auto;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
