$tablet-breakpoint: 1000px;

// Light theme
$white: #fff;
$off-white: #F6F8FA;
$dark-grey: #606060;
$light-grey: #CDCDCD;
$pink: #ea86ae;
$dark-pink: #d5256c;
$blue: #68b0f1;
$green: #5fc383;

// Dark theme
$light-black: #242424;
$dark-black: #080808;
$smoke: #A9A9A9;
$dark-red: #a01300;
$light-blue: #00ebeb;
$light-green: #3ff61d;

// Tag styling
body {
    font-family: 'Nunito', sans-serif;
    background-color: $off-white;
    color: black;

    transition-property: background;
    transition: background 250ms ease-in-out;
}

body.dark {
    background-color: $dark-black;
    color: $off-white;
}

header {
    text-align: center;
}

footer {
    margin-top: 2vh;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;

    p {
        a {
            color: #007bff;
            border: none;
        }
    
        a:hover {
            border-bottom: solid 1px;
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
}

hr {
    border: 0;
    height: 0;
    margin: 0;
}
// End tag styling

// Custom element styling
.dark-theme-button.dark {
    img {
        filter: invert(1);
    }
}

.dark-theme-button:hover {
    opacity: 1;
}

.profile {
    .image {
        max-height: 100px;
        max-width: 100px;
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .link-container {
            display: flex;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            height: 100%;
        
            img {
                height: 20px;
                transition-property: filter;
                transition: 250ms ease-in-out;
            }
        }
    }

    // Two rows for links when horizontal size of screen is too small.
    @media (max-width: 400px) {
        #dark-theme-button {
            display: none;
        }
    }

    .about-me {
        margin: 0;
        margin-top: 5px;

        a {
            color: #007bff;
            border: none;
        }

        a:hover {
            border-bottom: solid 1px;
        }
    }
}

.profile.dark {
    .links-container {
        .link-container {
            img {
                filter: invert(100);
            }
        }
    }
}

.section-heading {
    font-family: Lato, arial, verdana, helvetica, sans-serif;
    margin-top: 1.5rem;
    font-weight: 600;
}

.card {
    background-color: $white;
    margin-top: 0.5rem;
    padding: 3%;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform .2s;
    position: relative;

    .image {
        display: block;
        margin: auto;
        margin-top: 1vh;
        max-height: 50vw;
    }

    .demo-link {
        font-size: 18px;
        font-weight: 600;
        color: $green;
    }

    .repo-link {
        font-size: 18px;
        font-weight: 600;
        color: $blue;
    }

    .demo-link + .repo-link {
        margin-left: 0.5vw;
    }

    .tag {
        font-weight: 400;
        font-size: 16px;
        border-radius: 3px;
        vertical-align: text-top;
        display: inline-block;
        white-space: nowrap;
        background-color: $pink;
        color: $white;
        cursor: pointer;

        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 5px 15px;
            color: white;
            border: none;
        }

        transition-property: background;
        transition: background 250ms ease-in-out;
    }
    
    .tag:hover {
        background-color: $dark-pink;
        transition: background-color 0.5s ease-out;
    }

    transition-property: background, border-top;
    transition: background 250ms ease-in-out, border-top 250ms ease-in-out;
}

.card.dark {
    background-color: $light-black;
    color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;

    .tag {
        background-color: red;
    }

    .tag:hover {
        background-color: $dark-red;
        transition: background-color 0.5s ease-out;
    }

    .repo-link {
        color: $light-blue;
    }

    .demo-link {
        color: $light-green;
    }
}

#extracurriculars {
    margin-top: 2vh;
}
 
@media (min-width: $tablet-breakpoint) {
    .container {
        margin: auto;
        min-width: 0.98 * $tablet-breakpoint;
        max-width: 1000px;
    }

    #extracurriculars {
        margin-top: 3.25vh;
    }

    .single-column {
        .card {
            display: grid;
            grid-auto-flow: column;
            height: 210px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 5fr;
            padding: 1.25%;
            padding-bottom: 2rem;
            margin-top: 0;
        }

        .image-container {
            grid-row-start: 1;
            grid-row-end: 4;
            height: 100%;
        }
    
        .image {
            position: relative;
            top: 10%;
            height: 100%;
            max-height: 60%;
            margin: auto;
            margin-top: 2vh;
        }

        .description {
            grid-row-start: 1;
            grid-column-start: 2;
            height: 100%;
        }

        .dotpoints {
            grid-row-start: 2;
            grid-column-start: 2;
            height: 100%; 

            ul {
                padding-left: 2%;
                padding-right: 2%;
            }
        }

        .tags {
            grid-row-start: 3;
            grid-column-start: 2;
            height: 100%; 
            font-size: 16px;
        }
    }

    // Change to two column layout on larger displays
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1%;
        row-gap: 1%;
        grid-row: auto;

        .card {
            align-items: center;
            height: auto;
            padding-bottom: 3rem;
            grid-row: auto;
            margin-top: 0.25vh;
            position: relative;
    
            .image {
                display: block;
                margin: auto;
                margin-top: 2vh;
                max-width: 100%;
                max-height: 325px;
            }

            .tags {
                position: absolute;
                font-size: 16px;
            }
        }
    }

    hr {
        height: 5px;
    }
}
// End custom element styling

// Font styling
a, p, h1, h2, h3, h4, h5, h6, li {
    transition-property: color;
    transition: 250ms ease-in-out;

    opacity: 0.95;
}

a {
    color: black;
    text-decoration: none; 
    border-bottom: dashed 1px;
}

a:hover {
    text-decoration: none; 
    border-bottom: solid 1px;
}

a.dark {
    color: white;
}

p {
    a {
        color: black;
        border-bottom: dashed 1px;
    }
    a.dark {
        color: white;
    }
}

h1 {
    font-family: Lato, arial, verdana, helvetica, sans-serif;
}

h1, h2, h3, h4 {
    margin: auto;
    font-weight: 150;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
}

p {
    margin: auto;
    font-size: 18px;
}

li {
    font-size: 16px;
}
// End font styling
