.basic-card {
    background-color: $white;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
    border-top: 2px solid #0275d8;
    transition: transform .2s;
    position: relative;

    @media (max-width: $tablet-breakpoint) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        ul {
            list-style-type: none;
            margin-left: 0;
            padding: 0;
        }
    }
}

.basic-card.dark {
    background-color: $light-black;
    color: white;
    border: 1px solid rgba(55, 55, 55, 0.9);
}

.card {
    hr {
        height: 0px;
    }

    .image + hr {
        height: 0.5rem;
    }

    .image {
        display: block;
        margin: auto;
        margin-top: 0.3rem;
        max-height: 50vw;
    }

    .project-link {
        font-family: "Open Sans", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;

        transition-property: color;
        transition: color 250ms ease-in-out;
    }

    .demo-link {
        color: $green;
    }

    .repo-link {
        color: $blue;
    }

    .demo-link + .repo-link {
        margin-left: 1rem;
    }

    ul {
        margin-top: 0.25rem;
    }

    .tag + .tag {
        margin-left: 0.75rem;
    }

    .tag {
        font-weight: 400;
        vertical-align: text-top;
        display: inline-block;
        white-space: nowrap;
        background-color: $pink;
        color: $white;
        cursor: pointer;

        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 5px 15px;
            color: white;
            border: none;
        }

        transition-property: background;
        transition: background 250ms ease-in-out;
    }
    
    .tag:hover {
        background-color: $dark-pink;
        transition: background-color 0.5s ease-out;
    }

    transition-property: background, border;
    transition: background 250ms ease-in-out, border 250ms ease-in-out;

    @media (max-width: $tablet-breakpoint) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        ul {
            list-style-type: none;
            margin-left: 0;
            padding: 0;
            
            li + li {
                margin-top: 0.5rem;
            }
        }

        .project-link {
            font-size: 15px;
        }
    }
}

.card.dark {
    background-color: $light-black;
    color: white;
    border-top: 2px solid #2727ff;

    .tag {
        background-color: red;
    }

    .tag:hover {
        background-color: $dark-red;
        transition: background-color 0.5s ease-out;
    }

    .repo-link {
        color: $light-blue;
    }

    .demo-link {
        color: $light-green;
    }
}