@media (min-width: $tablet-breakpoint) {
    .container {
        min-width: 0.975 * $tablet-breakpoint;
        max-width: $tablet-breakpoint;
        padding-left: 20px;
    }

    .single-column {
        .card {
            display: grid;
            grid-auto-flow: column;
            grid-auto-rows: min-content min-content min-content;
            grid-template-columns: 1.05fr 5fr;
        }

        .image-container {
            grid-row-start: 1;
            grid-row-end: 4;
            height: 100%;
            margin-left: 18px;
            margin-right: 30px;
            margin-top: 25%;
        }
    
        .description {
            grid-row-start: 1;
            grid-column-start: 2;
            height: 100%;
        }

        .dotpoints {
            grid-row-start: 2;
            grid-column-start: 2;
            height: 100%; 
        }

        .tags {
            grid-row-start: 3;
            grid-column-start: 2;
            height: 100%;
        }

        .card + .card {
            margin-top: 0.75rem;
        }
    }

    // Change to two column layout on larger displays
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.75rem;
        row-gap: 0.75rem;
        grid-row: auto;

        .card {
            align-items: center;
            height: auto;
            padding-bottom: 3rem;
            grid-row: auto;
            position: relative;

            .tags {
                position: absolute;
            }
        }
    }

    hr {
        height: 5px;
    }
}

.single-column {
    .card + .card, .basic-card + .basic-card, .basic-card + .card, .card + .basic-card {
        margin-top: 0.75rem;
    }
}

.section-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
