.profile {
    .image {
        max-height: 100px;
        max-width: 100px;
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .link-container {
            display: flex;
            border: none;
            outline: none;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            height: min-content;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            img {
                height: 18px;
                transition-property: filter;
                transition: 250ms ease-in-out;
            }

            a {
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 0.02857em;
                line-height: 1.75;

            }        
        }

        .link-container:hover {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: 3px;
        }
    }

    .responsive-break {
        display: none;
    }


    .about-me {
        font-size: 17px;

        p + p {
            margin-top: 0.25rem;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        .responsive-break {
            display: block;
        }

        .about-me {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 22px;
        }
    }

    // Two rows for links when horizontal size of screen is too small.
    @media (min-width: $tablet-breakpoint) {
        padding-top: 1rem;

        .top-bar {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h1 {
                margin-left: 0;
            }

            h2 {
                display: none;
            }
        }

        .about-me {
            p {
                font-size: 22px;
            }
        }
    }
}

.dark-theme-button.dark {
    img {
        filter: invert(1);
    }
}

.dark-theme-button:hover {
    opacity: 1;
}

.social-icon.dark {
    filter: invert(100);
}