.profile {
    padding-top: 30px;
    
    .top-bar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e5e5e5;
    }

    .profile-image {
        margin: auto;
        border-radius: 50%;
        width: 9rem;
    }

    .name-title {
        font-size: 1.8rem;
    }

    .description-title {
        font-size: 1.1rem;
    }

    .image {
        max-height: 100px;
        max-width: 100px;
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;

        .link-container {
            display: flex;
            border: none;
            outline: none;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            height: min-content;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            img {
                height: 18px;
                transition-property: filter;
                transition: 250ms ease-in-out;
            }

            a {
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 0.02857em;
                line-height: 1.75;
            }        
        }

        .link-container:hover {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: 3px;
        }
    }

    .responsive-break {
        display: none;
    }

    .about-me {
        background-color: #333;
        color: white;
        font-size: 17px;
        line-height: 1.5625em;
        padding: 1rem;
        border-radius: 6px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;

        p + p {
            margin-top: 0.25rem;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        .responsive-break {
            display: block;
        }

        .about-me {
            font-size: 22px;
        }
    }

    // Two rows for links when horizontal size of screen is too small.
    @media (min-width: $tablet-breakpoint) {
        padding-top: 1rem;

        .profile-image {
            width: 4rem;
        }

        .title-holder {
            text-align: left;
        }

        .top-bar {
            display: grid;
            grid-template-columns: 0.20fr 1fr 1fr;

            h1 {
                margin-left: 0;
            }
        }

        .about-me {
            p {
                font-size: 22px;
            }
        }
    }

    @media (max-width: $tablet-breakpoint - 1) {
        .description-title {
            margin-top: 5px;
        }

        .links-container {
            margin-top: 5px;
        }
    }
}

.dark-theme-button.dark {
    img {
        filter: invert(1);
    }
}

.dark-theme-button:hover {
    opacity: 1;
}

.social-icon.dark {
    filter: invert(100);
}