body {
    font-family: 'Nunito', sans-serif;
    background-color: $off-white;
    color: black;

    transition-property: background;
    transition: background 250ms ease-in-out;
}

body.dark {
    background-color: $dark-black;
    color: $off-white;
}

header {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
}

hr {
    border: 0;
    height: 0;
    margin: 0;
}

footer {
    display: grid;
    padding-top: 2rem;
    padding-bottom: 1rem;

    @media (max-width: $tablet-breakpoint) {
        p {
            text-align: center;
        }

        .footer-links {
            margin-top: 0.5rem;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        grid-template-columns: 4fr 2fr;
    }

    p {
        a {
            border-bottom: none;
            color: #007bff;
        }
    }

    .footer-links {
        float: right;
        display: flex;
        justify-content: space-evenly;
        
        .link-container {
            a {
                border-bottom: none;
                line-height: unset;
            }
        }
    }
}