$tablet-breakpoint: 960px;

// Light theme
$white: #fff;
$off-white: #F5F5F5;
$dark-grey: #606060;
$light-grey: #CDCDCD;
$pink: #ea86ae;
$dark-pink: #d5256c;
$blue: #68b0f1;
$green: #5fc383;

// Dark theme
$light-black: #242424;
$dark-black: #080808;
$smoke: #A9A9A9;
$dark-red: #a01300;
$light-blue: #00ebeb;
$light-green: #3ff61d;